
@{
    ViewBag.Title = "Index";
}

<br />
<div class="col-md-12 text-center">
    <img src="~/Content/Images/AK-lg.jpg">
</div>
<br />
<div class="col-md-12 text-center ">
    <h1> Welcome to our Black Market</h1>
</div>
<p class="lead text-info text-center">A black market, underground economy, or shadow economy is a market characterized by some form of noncompliant behavior with an institutional set of rules.</p>

